.p1{
    background-color: orangered;
}
.p2{
    background-color: blue;
    color: white;
}
.p3{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    font-size: large;
}
.p4{
    background-color: gray;
    font-weight: bolder;
}
